#calcu-btns{
    display: grid;
    grid-template-rows: repeat(6, 55px);
    grid-template-columns: repeat(6, 55px);
    row-gap: 10px;
    column-gap: 10px;
    box-sizing: border-box;
    justify-content: center;
}
.igual{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 6;
    background-color: rgb(77, 137, 177);
}
.igual:hover{
    background-color: rgb(43, 85, 106);
    border: none;
}
button{
    background-color: black;
    color: blanchedalmond;
    cursor: pointer;
}
button:hover{
    background-color: rgb(34, 34, 34);
    border: none;
}

#calcu-completa{
    border: black solid 2px;
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgb(0, 14, 67), rgb(0, 175, 228));
}

#resultadoNum{
    background-color: blanchedalmond;
}